<%# app/views/quizzes/new.html.erb %>
<h1>Nuevo Quiz</h1>

<div class="grid">
  <svg class="grid-svg" xmlns="http://www.w3.org/2000/svg" width="982" height="786" viewBox="0 0 982 786" fill="none">
    <!-- Tu contenido SVG aquí -->
  </svg>
  <div class="blur"></div>
</div>

<div class="form-containerslo">
  <div class="form-sectionslo" id="signup-section">
<%= form_with(model: @quiz, local: true) do |form| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> No se pudo guardar el quiz</h2>

      <ul>
        <% @quiz.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear Cuestionario' %>
  </div>
<% end %>
</div>
</div>
<%= link_to 'Volver', quizzes_path, class: 'button first'  %>
