<%# app/views/quizzes/show.html.erb %>
<h1>Quiz <%= @quiz.title %></h1>

<p>
  <strong>Profesor:</strong>
  <%= @quiz.teacher.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @quiz.description %>
</p>

<%= link_to take_quizzes_path, class: 'button first', data: {turbo_method: :create, turbo_confirm: '¿Seguro que quieres tomar el examen?'} do %>
<button> Tomar examen </button>
<% end %>


<%= link_to 'Editar', edit_quiz_path(@quiz), class: 'button first'  %> |
<%= link_to 'Volver', quizzes_path, class: 'button first'  %>
