<div class="grid">
  <svg class="grid-svg" xmlns="http://www.w3.org/2000/svg" width="982" height="786" viewBox="0 0 982 786" fill="none">
  </svg>
  <div class="blur"></div>
</div>


<h1>Crea un Nuevo Estudiante</h1>
<hr class="sin-color">
<hr class="sin-color">

<div class="card" >
  <div class="card-body wow-bg" id="formBg" >

<%= form_with model: [@institution, @student] do |f| %>
<div class="form-inputs" style="color:white;">
    <%= f.label :Email %>
    <%= f.text_field :email %>

    <%= f.label :Contraseña %>
    <%= f.text_field :password %>

    <%= f.label :Nombre %>
    <%= f.text_field :name %>
</div>
</div>
</div>

 <div class="form-actions">
    <button>  <%= f.submit "Registrar estudiante", class: "btn btn-outline-light btn-md" %> </button>
    </div>
<% end %>
 <hr class="sin-color">
    <hr class="sin-color">
    <hr class="sin-color">
    <hr class="sin-color">
