<!-- app/views/subjects/edit.html.erb -->
<h1>Editar Materia</h1>
<div class="grid">
  <svg class="grid-svg" xmlns="http://www.w3.org/2000/svg" width="982" height="786" viewBox="0 0 982 786" fill="none">
    <!-- Tu contenido SVG aquí -->
  </svg>
  <div class="blur"></div>
</div>

<div class="form-containerslo">
  <div class="form-sectionslo" id="signup-section">

<%= form_with(model: [@institution, @subject], local: true) do |form| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> La materia no ha podido ser guardada </h2>

      <ul>
        <% @subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nombre de la materia' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Actualizar Materia' %>
  </div>
    </div>
      </div>
      
<% end %>

<%= link_to 'Cancelar y volver a la lista', institution_subjects_path(@institution), class: 'button first' %>
