<%# app/views/take_quizzes/new.html.erb %>
<h1> Presenta el quiz <%= @quiz.title %></h1>

<%= form_with(model: [@quiz, @take_quiz], local: true) do |form| %>

  <% @quiz.questions.each_with_index do |question, index| %>
    <div class="question">
      <p><%= question.content %></p>

      <% question.answers.each do |answer| %>
        <div class="field">
          <%= form.radio_button "responses[#{question.id}]", answer.id %>
          <%= form.label "responses[#{question.id}]", answer.content %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Enviar Respuestas' %>
  </div>

<% end %>
